@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    border-color: rgb(229 231 235);
  }

  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
  }
}
